body {
    background: dimgray;
    color: #fff;
    font-family: fantasy;
    font-size: 30px;
    padding: 30px;
}

.video {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}